{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.3"}
        clj-http/clj-http {:mvn/version "3.13.1"}
        org.babashka/cli {:mvn/version "0.8.61"}}
 :aliases
 {:run {:main-opts ["-m" "aoc"]}
  :lint {:extra-deps {tvaughan/kibit-runner {:mvn/version "1.0.1"}}
         :main-opts ["-m" "kibit-runner.cmdline" "src"]}
  :fmt {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.15.6"}}
        :main-opts ["-m" "cljfmt.main" "fix" "src"]}}}
