name: Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  kibit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/determinate-nix-action@main
      - run: nix run nixpkgs#clojure -- -M:lint
